* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Helvetica, sans-serif;
   font-size: 24px;
}

body{
  /* background: linear-gradient(90deg, rgb(41, 8, 71) 0%, rgb(9, 0, 113) 100%); */
  background:  linear-gradient(180deg, rgba(0,0,0,1) 0%,transparent 100% );
  background: linear-gradient(180deg, rgba(0,0,0,1) 70%, rgb(41, 8, 71) 100%);

}

a{
    text-decoration: none;
    color: #ffffff;
}

img{
    display: block;
    width: 100%;
}

/* Utilidades */

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

.text-align{
    text-align: center;
}


/* ------------- Header -------------*/

.iniciar-sesion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navegacion-contenido a{
    margin: 0 20px;
    position: relative;
    transform: all .3s;
}
.navegacion-contenido a::after{
    content: "";
    position: absolute;
    background-color: #e3a304;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: all .3s;
}

.navegacion-contenido a:hover::after{
    width: 100%;
}

.contenedor-titulo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1;
    padding: 20px;
}


.contenedor-titulo img{
    height: 80px;
    width: auto;
}

.login-perfil img{
    filter: invert(100%);
    height: 50px;
}

.logo img{
    height: 70px;
}

.login-perfil{
    display: flex;
    align-items: center;
    border: 0;
    padding-right: 5px;
 }
 
.login-perfil img{
    width: 100%;
    cursor: pointer;
}

.login-perfil{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


@media (min-width:768px){
    .iniciar-sesion{
        max-width: 1200px;
        margin: 0 auto;
    }
    .fondo-header{
        background-position: right;
    }
}

@media (min-width:1330px){
    .iniciar-sesion{
        max-width: 1200px;
        margin: 0 auto;
    }
}

/*HEADER*/


/*-------------MAIN-------------*/

.main{
    background-image: linear-gradient(270deg, rgb(0, 0, 0) 0%, transparent 100%),url(../assets/images/catalogo/peliculas/deadpool-3.webp);
    background-image: linear-gradient(270deg, rgb(0, 0, 0) 0%, transparent 100%),url(../assets/images/deadpool-3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.section{
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: center;
 
}

.descripcion-pelicula{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 600px;
    height: 450px;
    padding-bottom: 0;
}

.video iframe {
    width: auto;
    height: 100%;
    border-radius: 8px;
}

button {
    display: flex;
    background-image: linear-gradient(150deg, #000000be, #7c12df, #290847);
    color: #ffffff;
    padding: 4px;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
    width: 555px;
}

button span {
    margin: auto;
    padding: 5px 200px;
    border-radius: 6px;
    transition: 0.3s;
}

button:hover span {
    background: none;
    color: #17bd99;
}

button:active {
    transform: scale(0.5, 0.7);
}

.boton a {
    text-decoration: none;
}

.boton {
    flex-direction: column;
    margin-left: 10px;
    display: flex;
}
@media (max-width:768px){
    .main{
        flex-direction: column;
        height: fit-content;
    }
 }

/*MAIN*/

/*-------------ASIDE-------------*/

.actores a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;
    color: aliceblue;
}

.actores li {
    display: inline;
}

.descripcion span {
    color: black;
    font-weight: bold;
    color: aliceblue;
    }

.descripcion ul li {
    padding-bottom: 10px;
    list-style-type: none;
}

.descripcion ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: justify;
}


.descripcion {
    margin: 20px;
    padding-top: 20px;
    padding-left: 0;
    color: aliceblue;
}
/*ASIDE*/

/*-------------SECTION CATALOGO-------------*/

.catalogo-recomendado{
    margin: 0 20px;
}

.catalogo-recomendado h2{
    font-size: 30px;
    margin: 20px 0;
    color: white;
}

.pel-recomendacion{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.pel-recomendacion a img{
    width: 100%;
}

 @media (max-width:767px){
    .pel-recomendacion{
        grid-template-columns: none;
    }
 }

 .pel-recomendacion a img:hover{
    border: 4px solid #e3a304;
    border-radius: 10px;
    margin: -4px;
    transform: scale(1.06);
 }

/* ------------- Footer -------------*/

.footer{
    margin-top: 30px;
    border-top: 2px solid white;
    background: linear-gradient(270deg, rgb(41, 8, 71) 0%, rgba(17,12,76, 10));
    width: 100%;
}

.footer-contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.footer p{
    color: white;
}

@media (max-width: 768px){
    .footer-contenido p{
        font-size: 18px;   
    }
}

@media (min-width: 768px){
    .footer-contenido p{
        font-size: 25px;   
    }
}